<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" 
		xmlns="http://java.sun.com/xml/ns/javaee"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
			http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
		 xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
		 
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AdministradorServlet</servlet-name>
    <servlet-class>com.ilegra.engagerace.servlet.AdministradorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdministradorServlet</servlet-name>
    <url-pattern>/AdministradorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.ilegra.engagerace.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UsuarioServlet</servlet-name>
    <servlet-class>com.ilegra.engagerace.servlet.UsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsuarioServlet</servlet-name>
    <url-pattern>/UsuarioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProgramaServlet</servlet-name>
    <servlet-class>com.ilegra.engagerace.servlet.ProgramaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProgramaServlet</servlet-name>
    <url-pattern>/ProgramaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AreaServlet</servlet-name>
    <servlet-class>com.ilegra.engagerace.servlet.AreaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AreaServlet</servlet-name>
    <url-pattern>/AreaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TipoProgramaServlet</servlet-name>
    <servlet-class>com.ilegra.engagerace.servlet.TipoProgramaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TipoProgramaServlet</servlet-name>
    <url-pattern>/TipoProgramaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PontuacaoServlet</servlet-name>
    <servlet-class>com.ilegra.engagerace.servlet.PontuacaoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PontuacaoServlet</servlet-name>
    <url-pattern>/PontuacaoServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>RelatorioServlet</servlet-name>
    <servlet-class>com.ilegra.engagerace.servlet.RelatorioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RelatorioServlet</servlet-name>
    <url-pattern>/RelatorioServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.ilegra.engagerace.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <context-param>
	<param-name>contextConfigLocation</param-name>
	<param-value>/WEB-INF/spring-config.xml </param-value>
	</context-param>
	  <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
      </listener>
</web-app>