
body
{
font-family: Verdana;
font-size: 15px;
font-weight: normal;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
}

table
{
font-family: Verdana, Arial, Helvetica, Sans-serif;
font-size: 15px;
font-weight: normal;
color: #000000;
margin:auto;
width:70%;
table-style-position: left;
float: left;
text-align: left;
}

td
{
text-align: left;
padding-top:5px;
padding-bottom:5px;
padding-right:2px;
padding-left:2px;
}

.table2
{
border: 3px solid #4F4F4F;
margin-left:auto;
margin-right:auto;
}

.tr2
{
border: 3px solid #4F4F4F;
margin-left:auto;
margin-right:auto;
}

.td2
{
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #FFA300;
height: 20px;
}

#specialTd
{
border-collapse:collapse;
width: 40%;
}

.container
{
background-color:#FFFFCC; 
}